/* typography */

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-regular.ttf);
  font-style: normal;
  font-weight: 300 /* normal */
}

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-light.ttf);
  font-style: normal;
  font-weight: 200; /* light */
}

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-semibold.ttf);
  font-style: normal;
  font-weight: 400; /* semibold */
}

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-bold.ttf);
  font-style: normal;
  font-weight: 500; /* bold */
}

* {
  box-sizing: border-box;
}

body {
  font: normal 300 18px/30px "sparta", sans-serif;
  letter-spacing: 0.22px;
  color: white;
}


/* mobile */
@media (max-width: 500px) {
  h1 {
    font-size: /* 1.778rem */ 32px;
    line-height: /* 2.222rem */ 40px;
  }

  body {
    font-size: /* 0.833rem */ 15px;
    line-height: /* 1.389rem */ 25px;
  }
}

/* tablet */
@media (min-width: 500px) {
  h1 {
    font-size: /* 2.667rem */ 48px;
    line-height: /* 3.556rem */ 64px;
    letter-spacing: /* 0.033 */ -0.6px ;
  }

  body {
    font-size: /* 1rem */ 18px;
    line-height: /* 1.667rem */ 30px;
    letter-spacing: /* -0.012 */ -0.225px;
  }
}

/* large devices */

@media (min-width: 800px) {
  h1 {
    font: normal 200 4rem/4.5rem "sparta", sans-serif;
    letter-spacing: 0.05rem;
  }
}

h2 {
  font: normal 500 2.5rem/3.5rem "sparta", sans-serif;
  letter-spacing: 0.031rem;
}

h3 {
  font: normal 500 1.125rem/1.75rem "sparta", sans-serif;
  letter-spacing: 0.014rem;
}

h4 {
  font: normal 400 0.875rem/1.75rem "sparta", sans-serif;
  letter-spacing: 0.125rem;
}

/* buttons */

button {
  font: normal 400 0.875rem/1rem "sparta", sans-serif;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  padding: 24px 48px;
  background: transparent;
}

/* btn light */

.btn-light {
  color: white;
  border: 1px solid white;
}

.btn-light:hover {
  color: #111111;
  border: 1px solid white;
  background: white;
}

/* btn dark  */

/* links */

a {
  text-decoration: none;
  color: inherit;
}

/* header */
header {
  background-color: #111111;
  display: flex;
}

.header-background {
  background: url(../img/hero/hero-bg-mobile.jpg) top no-repeat;
  height: 100vh;
  width: 100%;
}

/* header text content */
.header-text {
  text-align: center;
  padding: 232px 24px;
}

.logo {
  margin: 0 0 32px 0;
}

.p-header {
  margin: 24px 0 34px 0;
}

/* very small devices */

@media (max-width: 321px) {
  .header-background {
    background-size: 305px;
  }
  .header-text {
    padding: 180px 24px;
  }
}

/* tablet devices */

@media (min-width: 500px) {
  .header-text {
    padding: 232px 48px;
  }

  .p-header {
    margin: 24px 0 24px 0;
  }
}

@media (min-width: 800px) {
  .header-background {
    background: url(../img/hero/hero-bg-desktop.jpg) center/cover no-repeat;
    height: 100%;
    width: 100%;
  }

  .logo {
    margin: 0 0 153px 0;
  }

  .header-text {
    text-align: left;
    width: 40%;
    padding: 65px 0 198px 0;
    margin-left: 10%;
  }
}
