/* typography */

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-regular.ttf);
  font-style: normal;
  font-weight: 300 /* normal */
}

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-light.ttf);
  font-style: normal;
  font-weight: 200; /* light */
}

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-semibold.ttf);
  font-style: normal;
  font-weight: 400; /* semibold */
}

@font-face {
  font-family: 'sparta';
  src: url(../fonts/spartan-bold.ttf);
  font-style: normal;
  font-weight: 500; /* bold */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

/* mobile */

body {
  font: normal 300 1rem/1.667rem "sparta", sans-serif;
  letter-spacing: -0.1875px;
  color: white;
}

h1 {
  font: normal 200 2.13333rem/2.667rem "sparta", sans-serif;
  letter-spacing: -0.027rem;
}

h2 {
  font: normal 500 2.133rem/2.222rem "sparta", sans-serif;
  letter-spacing: -0.022rem;
}

h3 {
  font: normal 500 1.125rem/1.75rem "sparta", sans-serif;
  letter-spacing: 0.014rem;
}

h4 {
  font: normal 400 0.875rem/1.75rem "sparta", sans-serif;
  letter-spacing: 0.125rem;
}

/* tablet */
@media (min-width: 500px) {
  body {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -0.015rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 4.267rem;
    letter-spacing: -0.04rem;
  }
}

/* large devices */
@media (min-width: 800px) {
  body {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -0.015rem;
  }
  h1 {
    font-size: 4.267rem;
    line-height: 4.8rem;
    letter-spacing: 0.053rem;
  }

  .h1-sml {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.font-black {
  color: #242B37;
}

.h1-bold {
  font-weight: bold;
}

.p-m-sml {
  /* margin: 4px 0 0 0; */
}

/* containers  */
.container {
  padding: 0 24px;
}

/* buttons */

button {
  font: normal 400 0.875rem/1rem "sparta", sans-serif;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  padding: 24px 48px;
  background: transparent;
}

/* btn light */

.btn-light {
  color: white;
  border: 1px solid white;
}

.btn-light:hover {
  color: #111111;
  border: 1px solid white;
  background: white;
}

/* btn dark  */

/* links */

a {
  text-decoration: none;
  color: inherit;
}

/* header */
header {
  background-color: #111111;
  display: flex;
}

.header-background {
  background: url(../img/hero/hero-bg-mobile.jpg) top no-repeat;
  max-height: 748px;
  width: 100%;
}

.header-background-booking {
  background: url(../img/booking/hero-bg-mobile.jpg) top no-repeat;
  max-height: 748px;
  width: 100%;
}

/* header text content */
.header-text {
  text-align: center;
  padding: 232px 0 152px 0;
}

.logo {
  margin: 0 0 32px 0;
}

.header-text h1 {
  margin: 0 0 24px 0;
}

.header-text p {
  margin: 0 0 24px 0;
}

/* main content */
/* cards  */

.cards,
.highlights {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.cards {
  margin: -72px 0 80px 0;
}

.line-break {
  margin: 48px 0 32px 0;
}

.row-card h1 {

}

.card-one {
  margin-bottom: 80px;
}

.img-cards {
  max-width: 100%;
}

/* highlights from the resteraunt  */
.highlights {
  padding-top: 24px;
  background-color: black;
}

.img-hl img{
  margin-top: 33px;
}

.txt-hl p {
  margin-top: 4px;
}

.txt-hl h3 {
  margin: 32px 0 0 0;
}

/* very small devices */
@media (max-width: 350px) {
  .header-text {
    padding: 70% 0 5% 0;
  }

  .cards {
    /* margin-top: -1%; */
  }
}

/* tablet devices */

@media (min-width: 500px) {
  /* header */
  .header-background {
    background: url(../img/hero/hero-bg-tablet.jpg) top no-repeat;
    max-height: 992px;
  }

  .container {
    padding: 0 10%;
  }

  .main-text-container {
    margin: 0 10%;
  }

  .h1-main {
    font-size: 2.667rem;
  }

  .header-text {
    padding: 374px 0 216px 0;
    margin: auto;
  }

  /* cards */
  .cards {
    margin: -96px 0 120px 0;
  }

  .line-break {
    margin: 56px 0 32px 0;
  }

  /* higlights */
  .highlights-header .line-break{
    margin-top: 0;
  }

  .highlights-header {
    margin-bottom: 38px;
  }

  .highlights {
    padding-top: 96px;
    padding-bottom: 96px;
    align-items: center;
  }


  /* image and text for highlights */
  .txt-hl h3 {
    margin: 0 4px 0 0;
  }

  .img-hl img {
    margin-top: 0;
  }

  .txt-hl p {
    margin: 0;
  }

  .hl-img {
    max-width: none;
    vertical-align: middle;
  }

  .txt-hl {
    margin-left: 30px;
  }

  .food-hl {
    margin-bottom: 53px;
    display: flex;
    align-items: center;
  }

  .highlights-images {
    font-size: 15px;
    line-height: 28px;
    text-align: left;
  }

}

/* large devices */

@media (min-width: 800px) {
  .header-background {
    background: url(../img/hero/hero-bg-desktop.jpg) center/cover no-repeat;
    width: 100%;
  }

  .container {
    padding: 0 10%;
  }

  .main-text-container {
    margin: 0 0;
  }

  .header-text {
    text-align: left;
    width: 50%;
    padding: 65px 0 10% 0;
    margin: 0;
  }

  .logo {
    margin: 0 0 153px 0;
  }

  .btn-light {
    margin: 18px 0;
  }

  /* cards  */

  .cards {
    text-align: left;
    margin-top: -7%;
    margin-bottom: -7%;
  }

  /* cards -- flex */

  .card-one,
  .card-two {
    display: flex;
    justify-content: space-between;
  }

  .row-card {
    width: 42.5%;
    align-self: center;
  }

  .order1-card2 {
    order: 2;
  }

  .order2-card-2 {
    order: 1;
  }

}

/* large devices => highlights */

@media (min-width: 1100px) {

  .highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: left;
    padding-top: 200px;
    padding-bottom: 120px;
  }

  .highlights-header {
    max-width: 42.5%;
  }

  .highlights-images {
    max-width: 52.5%;
  }

}

@media (max-width: 1000px) {
  .highlights {
    margin-top: 0;
  }

  .cards {
    margin-top: 102px;
    margin-bottom: 102px;
  }
}
